.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px;

    &__message {
        text-align: center;
        margin: 80px 0;

        & h1{
            margin: 20px 0;
            font-size: 96px;
            font-weight: bold;
        }

        & p {
            font-size: 18px;
        }
      }
    
    &__redirect {
        margin-bottom: 60px;
        color: inherit;
      }
}
  
/* Desktop */
@media (min-width: 640px) {
  .error {
      &__message {
          margin: 20px 0;
      }

      &__message h1 {
        margin: 0;
        font-size: 288px;
      }
      
      &_message p {
        font-size: 36px;
      }
  }
  
}