@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
}

html, body {
  font-family: Montserrat, sans-serif;
  margin: 0;
  font-size: 16px;
  color: #ff6060;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}