.listingHousing {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin: 20px 20px 0 20px
}

/* Desktop */
@media (min-width: 640px) {
  .listingHousing {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px;
    background-color: #f6f6f6;
    border-radius: 25px;
    margin: 43px 100px 43px 100px;
  }
  
}