.liste__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 255px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.liste__link {
  text-decoration: none;
  transition: transform 0.3s;
}

.liste__link:hover {
  transform: scale(1.02);
}

.liste__image {
  background-color: #ff6060;
  height: 100%;
  width: 100%;
}

.liste__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.liste__image:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.liste__title {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 10px 10px 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

  