
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin: 16px 20px;
  
  &__logo {
    height: 32px;
    margin-left: 10px;
  }

}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
  margin-right: 80px;

  &__link {
    margin-left: 20px;
    text-decoration: none;
    color: #ff6060;
    font-weight: 500;
    font-size: 12px;


    &__active {
      text-decoration-line:underline;
    }

    &:hover {
      text-decoration-line: underline;
      color: #ff9393;
    }
  }
}


/* Desktop */
@media (min-width: 640px) {
  .nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 1em auto;
    padding-top: 2em;
    width: 1240px;

      &__logo {
        height: 70px;
        width: 100%;
  }
  .menu {
    display: flex;
    color: #FF6060;
    font-size: 24px;
    font-weight: 500px;
    margin-left: 600px;
    
    }

  .menu__link {
    display: flex;
    color: #FF6060;
    font-size: 24px;
    font-weight: 500px;
    }
  }
}