
.slider {
  position: relative;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
 
  &__arrowLeft {
    position: absolute;
    top:50%;
    left: 1em;
    z-index: 1000;
    font-size: 10px;
    cursor: pointer;
    svg{
      opacity: 0.8;
      transition: 550ms;
      width: 12px;
      height: 20px;
    }
    &:hover {
      svg{
        opacity: 1;
      }
    }
  }
  &__arrowRight {
    position: absolute;
    top:50%;
    right: 1em;
    z-index: 1000;
    cursor: pointer;
    svg{
      opacity: 0.8;
      transition: 550ms;
      width: 12px;
      height: 20px;
    }

    &:hover {
      svg{
        opacity: 1;
      }
    }
   
  }
  &__counter {
    color: white;
    bottom: 1em;
    font-size: 18px;
    font-weight: 500;
    left: 50%;
    position: absolute;
    transform: translateY(-50%);
   }
   &__img {
    object-fit: cover;
    height: 255px;
    width: 355px;
    border-radius: 10px;
  }

}


/* Desktop */
@media (min-width: 640px) {

.slider{
  position: relative;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__arrowLeft {
    position: absolute;
    top:42%;
    left: 8%;
    z-index: 1000;
    cursor: pointer;
    svg{
      opacity: 0.7;
      transition: 550ms;
      width: 46px;
      height: 80px;
    }
    &:hover {
      svg{
        opacity: 1;
      }
    }
  }

  &__counter {
    color: white;
    bottom: 1em;
    font-size: 18px;
    font-weight: 500;
    left: 50%;
    position: absolute;
    transform: translateY(-50%);
   }
   
  &__arrowRight {
    position: absolute;
    top:42%;
    right: 8%;
    z-index: 1000;
    cursor: pointer;
    svg{
      opacity: 0.7;
      transition: 550ms;
      width: 46px;
      height: 80px;
    }

    &:hover {
      svg{
        opacity: 1;
      }
    }
  }

  &__img {
    object-fit: cover;
    height: 415px;
    width: 1240px;
    padding: 0;
    border-radius: 25px;
  }

}


  
 
}